* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif';
}

header {
    width: 100%;
    height: 70px;
    color: #fff;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    border-bottom: double 3px #fff;
}

header h1 {
    font-weight: 100;
    font-size: 40px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#aviao {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/aviao1.png);
}

main {
    margin-inline: 10%;
}

.slogan {
    margin: 50px 0 130px 50px;
    backdrop-filter: blur(2px);
    border-radius: 30px;
}

h2 {
    font-family: 'Playfair Display';
    font-size: 84px;
    color: #fff;
}

#fim-frase {
    display: flex;
    margin-left: 400px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

#card-1 {
    height: 500px;
    width: 350px;
    background-color: #fff;
    margin-bottom: 100px;
    border-radius: 30px;
    background-image: url(images/london.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#card-2 {
    height: 500px;
    width: 350px;
    background-color: #fff;
    margin-bottom: 100px;
    border-radius: 30px;
    background-image: url(images/disney-world-orlando-papel-de-parede.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#card-3 {
    height: 500px;
    width: 350px;
    background-color: #fff;
    margin-bottom: 100px;
    border-radius: 30px;
    background-image: url(images/eifel-tower.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    border-top: dotted 1px #fff;
    gap: 100px;
}

a.button1{
    display:inline-block;
    padding:10px 10px;
    border:2px solid #FFFFFF;
    border-radius: 5px;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
}

