/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    margin: 0 0 10px 0;
}

/* Estilo do formulário de busca */
#form-busca-voo {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group select, 
.input-group input[type="text"],
.input-group input[type="datetime-local"],
.input-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.input-group button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-group button:hover {
    background: #4cae4c;
}

/* Estilo da tabela de voos */
#tabela-voos {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tabela-voos thead {
    background: #333;
    color: #fff;
}

#tabela-voos th,
#tabela-voos td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

#tabela-voos tr:nth-child(even) {
    background: #f4f4f4;
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

