body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 60px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

h1, h2 {
    margin: 0 0 20px 0;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

/* Estilos para o mapa de assentos */
.assentos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.linha-assentos {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.assento {
    width: 30px;
    height: 30px;
    background-color: #eee;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.assento:last-child {
    margin-right: 0;
}

.assento.selecionado {
    background-color: #4caf50;
}

.assento.reservado {
    background-color: #f44336;
    cursor: not-allowed;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#total-compra {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
